<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}KunstmaanTranslationbundle Admin UI{% endblock %}</title>
        <style>
            body{font-family:Arial,Verdana,sans-serif;font-size:12px;margin:0;padding:0;}
            .container{margin:0 auto;padding:20px;width:1100px;}
            .nav{margin:0 0 2em;padding:0;}
            .nav li{display:inline-block;list-style-type:none;margin:0 10px 0 0;padding:0;zoom:1;}

            table{border-collapse:collapse;border-spacing:0;margin:0 0 2em;max-width:100%;width:100%;}
            th{text-align: left;}
            table > thead > tr > th,table > tbody > tr > th,table > tfoot > tr > th,table > thead > tr > td,table > tbody > tr > td,table > tfoot > tr > td{border-top:1px solid #DDDDDD;line-height:1.42857;padding:8px;vertical-align:top;}
            table > thead > tr > th{border-bottom:2px solid #DDDDDD;border-top:0 none;vertical-align:bottom;}
        </style>
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
