{% extends 'KunstmaanTranslatorBundle::Default/generalLayout.html.twig' %}

{% block content %}
    <form class="form-horizontal" action="{{ path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} novalidate>
            {{ form_rest(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{{ 'settings.translator.add' | trans }}</button>
            </div>
    </form>
{% endblock %}
